/* Base Element Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;
}

h2,
h3,
a {
    color: #093a58;
}

h2,
h3 {
    margin-top: 0;
}

a {
	text-decoration: none;
}

img {
    max-width: 100%;
}

/* Base Layout Styles */

/* ---- Navigation ---- */

.name {
    font-size: 1.25em;
    margin: 0;
}

.main-nav {
    margin-top: 5px;
}

.name,
.main-nav li {
    text-align: center;
    background: #fff;
    margin-top: 6px;
    margin-bottom: 6px;
}

.main-nav a {
    font-size: .95em;
    color: #3acec2;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #093a58
}

.name a,
.main-nav a {
    padding: 10px 15px;
    display: block;
    text-align: center;
}

/* ---- Layout Containers ---- */

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.main-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.banner {
    color: #fff;
    background: #3acec2;
    padding: 3.2em 0;
    margin-bottom: 60px;
}

.col {
    padding: 0 1em;
}

.main-footer {
	padding: 2em 0;
	background: #d9e4ea;
    margin-top: 30px;
}

.banner,
.main-footer {
    text-align: center;
}


/* ---- Page Elements ---- */

.logo {
    width: 190px;
}

.headline {
    margin-bottom: 0;
}

/* ==========================
        Media Queries
==============================*/

@media (min-width: 769px) {
    .container {
        width: 90%;
        max-width: 1150px;
        margin: 0 auto;
    }
    .wrap {
        min-height: calc(100vh - 89px);
    }
    .feat-img {
        width: 300px;
        float: left;
        margin: 5px 25px 25px 0;
        padding: 10px;
        border: solid 1px #d9e4ea;
    }
    .main-nav {
        float: right;
    }

    .main-nav li {
        float: left;
        margin-left: 12px;
    }

    .name,
    .col {
        float: left;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .col {
        padding-left: 1em;
        padding-right: 1em;
    }
    .primary,
    .secondary {
        width: 50%;
    }
    .tagline {
        font-size: 1.4em;
    }
}

@media (min-width: 1025px) {
    .container {
        width: 80%;
        max-width: 1150px;
    }

    .primary {
        width: 40%;
    }

    .secondary,
    .tertiary {
        width: 30%
    }
}

